:root {
	---green-primary: #03c03c;
}

.menubar {
	width: 35%;
	margin: 0 auto;

	display: flex;
	gap: 1rem;
}
.menubar-input-container {
	position: relative;
	flex-basis: 60%;
}
.menubar-input {
	width: 100%;
	padding: 1rem;
	outline: none;
	border: none;
	border-radius: 2px;
}
.menubar-input-add {
	position: absolute;
	top: 50%;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 3rem;
	height: 3rem;

	padding: 0.5rem;
	background-color: var(---green-primary);
	color: #fff;
	font-size: 1.4rem;
	border-radius: 2px;

	transform: translate(-15%, -50%);
	cursor: pointer;
}

.menubar-filter-container {
	position: relative;
	flex-grow: 1;
}
.menubar-filter-container::after {
	content: "\25bc";
	position: absolute;
	top: 50%;
	right: 10px;

	color: var(---green-primary);
	font-size: 1.2rem;

	z-index: 5;
	pointer-events: none;
	transform: translateY(-50%);
}
.menubar-filter-selection {
	width: 100%;
	padding: 1rem;
	outline: none;
	border: none;
	border-radius: 2px;
	color: var(---green-primary);
	cursor: pointer;

	appearance: none;
}

.menubar-filter-option {
}
