/* CSS RESET */
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
/* */

.app {
	background: rgb(1, 135, 73);
	background: linear-gradient(
		90deg,
		rgba(1, 135, 73, 1) 0%,
		rgba(23, 177, 105, 1) 100%
	);

	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6rem;
}
